<a href="https://colab.research.google.com/github/Liznzau/python-functions-/blob/main/Copy_of_Elizabeth's_Week_4_IP_24th_Sept_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Load the dataset 
#
df = pd.read_csv('Autolibe.csv')

# Then preview the dataset while specifying column names 
df.to_csv ('Autolibe.csv')

#pd.read_csv('Autolibe.csv', Autolibe = ['Address','Cars', 'Bluecar_counter', 'Utilib_counter', 'Utilib_1.4_counter', 'Charge_Slots', 'Charging_Status', 'City', 'Displayed_comment', 'ID', 'Kind', 'Geo_point', 'Postal_code', 'Public_name', 'Rental_status', 'Scheduled_at', 'Slots', 'Station_type', 'Status', 'Subscription_status, 'year', 'month', 'day', 'hour', 'minute',])
df.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

In [ ]:
# Cleaning the dataset
# Dropping columns
#
df.drop(columns='Cars', axis=1, inplace=True)
df.drop(columns='year', axis=1, inplace=True)
df.drop(columns='month', axis=1, inplace=True)
df.drop(columns='Subscription status', axis=1, inplace=True)
df.drop(columns='Displayed comment', axis=1, inplace=True)
df.drop(columns='ID', axis=1, inplace=True)
df

KeyError: ignored

In [ ]:
# Cleaning the datasets
# Dropping rows with null values in the dataframe
#
df.dropna(axis=0, how='any', inplace=False)
df.drop_duplicates()
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 19 columns]

In [ ]:
# Identify the most popular hour of the day for picking up
# a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

# Preview the dataset 
df.to_csv ('Autolibe.csv')

# We will analyse the data to meet the desired problem outcome
#
df.pd.read('Bluecar_counter'>0)
df.pd.read('Rental_status' = "Operational")
df.pd.read('City'= "Paris")

# From hour column we will remove '0' 
#
df.pd.read('hour'> 0)
daf = df.loc[((df[hour])== 'hour1')]
df1 = daf.iloc[:,1:23,sum()
df1.max()

SyntaxError: ignored